node_modules/
yarn.lock
.DS_Store
database.rules.json
storage.rules
firestore.indexes.json
firestore.rules
functions/.eslintrc.json
functions/index.js
.firebase/hosting.cHVibGlj.cache
.firebaserc
firebase-debug.log
*.icloud