@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';
@import 'web-fonts';
@import 'colors';

/** Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Inria+Serif|Quicksand&display=swap');
@include google-font {
    @include google-font(Quicksand,
    700);
    @include google-font(Inria Serif);
}

html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inria Serif', serif;
    display: flex;
    flex-direction: column;
}

button {
    font-family: 'Inria Serif', serif;
}

.container {
    flex: 1 0 auto;
    margin: 1em;
    border-radius: 10px;
    border: 2px solid $blueviolet;
    padding: 1px;
}


/** Basic Styling */

footer {
    background-color: $blueviolet;
    text-align: center;
    color: white;
    font-size: 20px;
}